﻿<div class ="header">
    <a href=""  style="text-decoration:none;align-items:center; font-size:30px; color:white;">Tabibu</a>

    <div class="flex-row gap-4">

        <a href="#"  style="text-decoration:none;align-items:center; padding-left:15px; font-size:20px; color:white;"> Home </a>
        <a href="#" style="text-decoration:none;align-items:center;  padding-left:15px; font-size:20px; color:white;"> Appointments </a>
        <a href="#" style="text-decoration:none;align-items:center;   padding-left:15px; font-size:20px; color:white;"> My History </a>
       
    </div>

    <div class="flex-row p-2">
      
                @*<button class="btn btn-danger"> Logout </button>     *@
                <button class="btn btn-primary" > Login </button>
                <button class="btn btn-primary" > Register </button>
        
   
    </div>
</div>