﻿<div class ="header">
    <a href="" style="text-decoration:none;align-items:center; font-size:40px; color:white;">Tabibu</a>

    <div class="flex-row p-2">
        
                <a href="#" class="btn bg-black text-white"> Home </a>
                <a href="#" class="btn bg-black text-white"> Appointments </a>
                <a href="#" class="btn bg-black text-white"> My History </a>
       
    </div>

    <div class="flex-row p-2">
      
                <button class="btn btn-danger"> Logout </button>     
                <button class="btn btn-primary" > Login </button>
                <button class="btn btn-primary" > Register </button>
        
   
    </div>
</div>